Source: guro
Section: python
Priority: optional
Maintainer: Dhanush Kandhan <dhanushkandhan75@gmail.com>
Build-Depends: debhelper-compat (= 13),
               dh-python,
               python3-all,
               python3-setuptools,
               python3-pytest,
               python3-rich (>= 10.0.0),
               python3-psutil (>= 5.8.0),
               python3-matplotlib (>= 3.5.0)
Standards-Version: 4.5.0
Homepage: https://github.com/dhanushk-offl/guro
Rules-Requires-Root: no

Package: guro
Architecture: all
Depends: ${python3:Depends},
         ${misc:Depends},
         python3-rich,
         python3-psutil,
         python3-matplotlib
Description: A simple system benchmarking & monitoring toolkit
 Guro is a powerful system monitoring and benchmarking tool that provides 
 real-time system metrics and performance tuning.
